@{
    ViewData["Title"] = "Unauthorize";
}

<div class="container" id="unathorizeDiv">
    <img src="" alt="" />
    <h4>Bu sayfaya erişim yetkiniz olmayabilir veya siteye giriş yapmamış olabilirsiniz.</h4>
    <h4>Lütfen giriş yapıp yapmadığınızı kontrol ediniz.</h4>
    <div class="row">
        <div class="col-sm-4">
            <a class="w3-bar-item w3-button" asp-area="" asp-controller="Account" asp-action="Login" id="unathorizeButton">Giriş Yap</a>
        </div>
        <div class="col-sm-4">
            <a class="w3-bar-item w3-button" asp-area="" asp-controller="Account" asp-action="SignUp" id="unathorizeButton">Kayıt Ol</a>
        </div>
        <div class="col-sm-4">
            <a class="w3-bar-item w3-button" asp-area="" asp-controller="" asp-action="Index" id="unathorizeButton">Anasayfa</a>
        </div>

    </div>
</div>