@model CategoryUpdateViewModel

@{
    ViewData["Title"] = "Update";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Update</h1>

<div class="container">
    <form asp-controller="Categories" asp-action="Update" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" name="Id" value="@Model.Id" />
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" id="Name" type="text" class="form-control" placeholder="Kategori Adı" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="control-label"></label>
            <input asp-for="Description" id="Description" type="text" class="form-control" placeholder="Kategori Açıklaması" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <button class="btn badge-primary" type="submit" value="Update" >Güncelle</button>
            @ViewBag.CategoryResultMessage

        </div>
    </form>
</div>