  
<div class="container">
    <div class="container mt-3">
        <h2>Semih Özcan</h2>
        <img src="profil.jpg" id="profilImage">
    </div>

    <br />
    <a asp-area="Admin" asp-controller="Dashboard" asp-action="Index" id="AdminLeftSideBarButton">Dashboard</a>
    <br />
    <a asp-area="" asp-controller="Home" asp-action="Index" id="AdminLeftSideBarButton">Siteyi gör</a>
    <br />
    <a asp-area="Admin" asp-controller="Categories" asp-action="GetAllCategories" id="AdminLeftSideBarButton">Kategoriler</a>
    <br />
    <a asp-area="Admin" asp-controller="ProductTypes" asp-action="GetAllProductTypes" id="AdminLeftSideBarButton">Ürün Tipleri</a>
    <br />
    <a asp-area="Admin" asp-controller="Products" asp-action="GetAllProducts" id="AdminLeftSideBarButton">Ürünler</a>
    <br />
    <a asp-area="Admin" asp-controller="Dashboard" asp-action="Index" id="AdminLeftSideBarButton">Kullanıcılar</a>
    <br />
    <a asp-area="Admin" asp-controller="Dashboard" asp-action="Index" id="AdminLeftSideBarButton">Admin Profili</a>
    <br />
    <a asp-area="" asp-controller="Account" asp-action="LogOut" id="AdminLeftSideBarButton">Çıkış Yap</a>
    <br />

</div>
